//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.09 Education
//Part Number: GW2A-LV18PG256C8/I7
//Device: GW2A-18C
//Created Time: Mon 05 01 15:09:32 2023

IO_LOC "tx" M11;
IO_PORT "tx" PULL_MODE=UP DRIVE=8;
IO_LOC "LED" L14;
IO_PORT "LED" PULL_MODE=UP DRIVE=8;
IO_LOC "clock" H11;
IO_PORT "clock" PULL_MODE=UP;
